@import "tailwindcss";

:root {
  --background: #F3EAD0;
  --color-bg-header: #A8B5A7;
  --color-nav-text: #405946;
  --accent: #1e1b17;
  --another-color: #8D7541;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
